.sidebar-header {
  border-bottom: #fff solid;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  background: #555;
}
#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #555;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0;
  display: block;
  background: white;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
  /* rotate first one */
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  /* second one is not visible */
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  /* rotate third one */
  transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  /* no rotation */
  transform: none;
  /* all bars are visible */
  opacity: 1;
  margin: 5px auto;
}

.wrapper {
  display: flex;
  perspective: 1500px; 
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #555;
  color: #fff;
  height: 100vh;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

@media (max-width: 768px) {
  /* Reversing the behavior of the sidebar: 
     it'll be rotated vertically and off canvas by default, 
     collapsing in on toggle button click with removal of 
     the vertical rotation.   */
  #sidebar {
      margin-left: -250px;
      transform: rotateY(100deg);
  }
  #sidebar.active {
      margin-left: 0;
      transform: none;
  }

  /* Reversing the behavior of the bars: 
     Removing the rotation from the first,
     last bars and reappear the second bar on default state, 
     and giving them a vertical margin */
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
      transform: none;
      opacity: 1;
      margin: 5px auto;
  }

  #sidebarCollapse span:first-of-type {
      /* rotate first one */
      transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse span:nth-of-type(2) {
      /* second one is not visible */
      opacity: 0;
  }
  #sidebarCollapse span:last-of-type {
      /* rotate third one */
      transform: rotate(-45deg) translate(1px, -1px);
  }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  background: #555;
  color: #fff;
  transition: all 0.3s;
}

#sidebar  {
  padding: 20px;
  background: #555;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #555;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 0.8em;
  display: block;
}
#sidebar ul li a:hover {
  color: #555;
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #555;
}
ul ul a {
  font-size: 0.7em !important;
  padding-left: 30px !important;
  background: #555;
}

.componentsdiv {
  color: #999;
  font-weight: bold;
}

.flex-contain{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    
}
.item{
    background-color: #fff;
    color: black;
    padding: 1.25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    margin-left: 2rem;
    border-radius: 0.75rem;
    min-width: 30%;
    flex: 1 1 auto;

}

.last {
  background-color: #fff;
  color: black;
  padding: 1.25rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  margin-left: 2rem;
  border-radius: 0.75rem;
  min-width: 30%;
  flex: 1 1 auto;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
  .item {
    height: 50vh;
  }
  .charts {
    height: 40vh;
  }
  .bulletchart {
    height: 10vh;
  }
  .last {
    height: 20%;
  }
  .bulletcharts{
    height: 10vh;
  }
  .statchart {
    height: 20%
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .item {
    height: 50vh;
  }
  .charts {
    height: 35vh;
  }
  .bulletchart {
    height: 10vh;
  }
  .last {
    height: 40%;
  }
  .bulletcharts{
    height: 10vh;
  }
  .statchart {
    height: 80vh
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .item {
    height: 45vh;
  }
  .charts {
    height: 30vh;
  }
  .bulletchart {
    height: 10vh;
  }
  .last {
    height: 100vh;
  }
  .bulletcharts{
    height: 10vh;
  }
  .statchart {
    height: 80vh
  }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .item {
    height: 40vh;
  }
  .charts {
    height: 23vh;
  }
  .bulletchart {
    height: 10vh;
  }
  .last {
    height: 40%;
  }
  .bulletcharts {
    height: 10vh
  }
  .statchart {
    height: 80vh
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .item {
    height: 35vh;
  }
  .charts {
    height: 27vh;
  }
  .bulletchart {
    height: 9vh;
  }
  .last {
    height:100vh;
  }
  .bulletcharts {
    height: 8vh
  }
  .statchart {
    height:80vh 
  }
 
}
